* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-bkk {
  box-shadow: 2px solid #64636352;
  border-radius: 12px;
}
#title-bkk h1 {
  text-align: center;
  font-size: x-large;
  margin-top: 2vh;
  font-weight: 700;
  color: #0e3e65;
}
#title-bkk h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #0e3e65;
}

#title-bkk p {
  margin-bottom: 10px;
}

#title-bkk a:hover {
  color: #eeeb3c;
}

/* Breadcrumb */
#breadcrumb {
  background: #1768a8;
  border-radius: 8px;
  color: whitesmoke;
  margin: 10px;
  padding: 2px;
}
#breadcrumb p {
  margin-left: 10px;
  margin-bottom: 3px;
}
#search-bar {
  padding: 5px;
}
#navbar-bgz {
  height: 13vh;
}
/* card list */
.card-bkk {
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 10px;
  overflow: auto;
  margin: 15px;
}
.card-bkk p {
  text-align: left;
  width: 95%;
}
.cbkk-img {
  float: left;
  width: 120px;
}

.cbkk-fill {
  display: inline-block !important;
}

.cbkk-fill h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0e3e65;
}

.cbkk-fill h2 {
  font-size: 1rem;
}

.cbkk-fill p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.status {
  border-radius: 7px;
  color: rgb(221, 221, 221);
  padding: 2px 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-left: -5vh; */
}

.st-open {
  background: rgb(34, 177, 34);
  /* margin-left: 20px; */
  width: fit-content;
}
.st-open-desc {
  background: rgb(34, 177, 34);
  /* margin-left: 20px; */
  width: 80%;
}
.st-close {
  background: rgb(218, 54, 54);
}

.btn-loadmore {
  /* margin-top: 100px !important; */
  font-size: 1rem !important;
}
.btn-loadmore:hover {
  background-color: #eeeb3c;
}
.cbkk-MI {
  padding: 5px 0px !important;
  text-align: left !important;
  color: rgb(8, 51, 189) !important;
  margin-bottom: 10px;
  text-decoration: underline !important;
}
.cbkk-MI:hover {
  color: #eeeb3c;
}
/* Left job */
#list-job {
  height: 100vh;
  position: static;
  overflow-y: auto;
}

#list-job-left {
  overflow-x: hidden;
  overflow-y: auto !important;
  height: 100%;
  display: block;
  position: relative;
}

.cbkk-img {
  position: relative;
  top: 0;
}
/* BKK Detail */
.bkkdetail-title img {
  position: relative;
}
.bkkdetail-title h1 {
  margin-top: 10px;
  margin-left: 9px;
  font-weight: 600;
  color: #0e3e65;
  font-size: 1.5rem;
}
.bkkdetail-title h3 {
  margin-left: 9px;
  margin-bottom: 10px;
  font-weight: 600;
}
.bkkdetail-body {
  overflow-y: auto;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.detail-intro {
  margin: 5px;
}
.bkk-d-desc h2 {
  margin: 10px;
  font-weight: 600;
  color: #0e3e65;
}
img.comp-logo-detail {
  width: 220px !important;
}

.mt-4 {
  margin-bottom: 20px;
}

/* Farhan : Button Card BKK */
.card-bkk-button {
  background: none !important;
  color: black !important;
  border: none !important;
  text-align: left !important;
}
