* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Button post item */
.btn-post-item {
  padding: 10px 25px !important;
}

/* Modal */
.modal-backdrop {
  z-index: 5 !important;
}

/* Ck Editor */
.ck-editor__editable_inline {
  min-height: 300px !important;
  max-height: 500px !important;
}

/* Btn Submit Form */
#btn-submit-form {
  /* margin-top: 150px; */
}

#upload-image {
  margin-bottom: 25px;
}

.sidenav {
  background: #021427;
  position: fixed;
  width: 200px;
  height: 100vh;
  color: rgb(197, 197, 197);
}

.sidenav-fill {
  margin-top: 25%;
  padding-bottom: 25%;
  height: 70%;
  overflow: scroll;
}

.sidenav hr {
  height: 1px;
  background: rgb(202, 202, 202);
}

.sidenav h1 {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  padding-top: 25px;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn-collaps {
  background: #031d3a;
}

.sidenav ul li {
  margin-bottom: 10px;
  margin-right: 10px !important;
  padding: 5px;
}

.sidenav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.sidenav ul li:hover {
  background: rgb(20, 90, 137);
  border-radius: 4px;
}

.sidenav-img {
  height: 80px;
  width: 80px;
}

.btn-collaps {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.dashboard-title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.stats-card {
  background: #42858c;
  border-radius: 4px;
  padding: 25px 10px;
  color: white;
  height: 120px;
}

.stats-card:hover {
  background: none;
  border: 1px solid #42858c;
  color: #42858c;
}

.stats-card h2 {
  font-size: 1.2rem;
}

.stats-card p {
  font-size: 1.2rem;
}

.sidenav-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-btnexit {
  margin-bottom: 20px;
  padding: 5px 30px !important;
  border-radius: 4px !important;
  background: rgb(201, 30, 30) !important;
}

h2.visitor-title {
  font-size: 1.6rem;
}

#image-box {
  background: rgb(232, 232, 232);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  padding: 25px;
  position: relative;
}

.imgbox-detail {
  max-width: 200px;
  padding: 10px;
  display: inline-block;
}

.imgbox-detail:hover {
  background: rgb(153, 153, 153);
  border-radius: 4px;
  cursor: pointer;
}

.imgbox-detail img {
  width: 240px;
}

.btn-imgdelete {
  position: absolute;
  bottom: 0;
  right: 0;
}
