* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown-toggle::after {
  display: inline-block !important;
}

.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: white !important;
}

.sticky-top {
  position: fixed !important;
  top: 0;
  width: 100%;
}

a#basic-nav-dropdown,
.nav-link,
.navbar-brand {
  color: #154d7a;
  font-weight: 600;
}

#header {
  /* background: url("../images/header-1.jpg"); */
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: 0;
  color: rgb(255, 255, 255);
}

.black-cover-header {
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}

.header-fill {
  z-index: 3;
}

.header-fill h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

.header-fill p {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-header {
  background: rgb(33, 113, 189);
  padding: 8px 25px !important;
  border: none;
  border-radius: 2px;
}
/* welcome section */
#welcome {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
#welcome h1 {
  color: #0e3e65;
  font-size: 28px;
  font-weight: 800;
}

.divider-welcome {
  height: 5px;
  background: rgb(0, 0, 100);
  border-radius: 9px;
  width: 300px;
  margin-top: 31px;
  margin-left: 300px;
}

/* headmaster greeting */
#hdm-greeting {
  height: 90vh;
  margin-top: -154px;
  margin-left: -100px;
}
#hdm-greeting h1 {
  font-size: 2.2rem;
  color: #0e3e65;
  font-weight: 700;
  margin-left: 40px;
  margin-top: -10px;
}
#hdm-greeting h2 {
  width: 120%;
  font-weight: 600;
  color: #0e3e65;
}
#hdm-greeting p {
  margin-left: 40px;
  margin-top: -15px;
}
.hdm-greeting-fill {
  margin-top: 50px !important;
  position: relative;
}

.hdm-greeting-fill img {
  padding: 5px 5px 15px;
  width: 270px;
  margin-right: 30px;
  border-radius: 50%;
}

.hdm-greeting-desc h2 {
  font-size: 1.6rem;
}

/* yt overview */
#overview {
  justify-content: center;
  margin-top: -100px;
}

.divider-overview {
  height: 3px;
  width: 85px;
  background: rgb(226, 226, 29);
  border-radius: 2px;
}
#overview h1 {
  font-size: 25px;
}
#overview .OV {
  font-size: 20px;
  color: #74a4cb;
}
#overview .WU {
  color: #0e3e65;
  font-weight: 700;
}
#overview p {
  padding: 10px 10px;
}
#overview button {
  margin-top: 60px;
  border-radius: 15px;
}
#overview img {
  box-shadow: 3px 2px, rgba(0, 0, 0, 0.2);
}

/* /////// */
#facility {
  height: 100vh;
  background: rgb(0, 15, 56);
}

#facility h1 {
  font-size: 2.4rem;
  color: white;
}

.card-holder {
  margin: auto;
}

.card-facility {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  color: black;
  padding: 30px 50px;
  width: 300px;
  margin: 0 10px;
  margin-top: 30px;
}

.card-facility:hover {
  background: rgb(204, 204, 204);
  cursor: pointer;
}

.card-facility h2 {
  font-size: 1.6rem;
}

.cf-icon {
  text-align: center;
}

/* card activities */
#activities {
  padding: 45px;
  margin-top: 20px;
}

#activities h1 {
  text-align: left;
  font-size: 25px;
  margin-left: 120px;
}
#activities .ACT {
  font-size: 20px;
  color: #74a4cb;
}
#activities .OACT {
  color: #0e3e65;
  font-weight: 700;
}
/* #activities .divider-overview1 {
  height: 3px;
  width: 85px;
  background: rgb(226, 226, 29);
  border-radius: 2px;
  margin-left: 10px;
} */

/* announcement */
#activities .ac-ttl {
  margin-top: -30px;
  font-size: 25px;
  color: #74a4cb;
}

#activities .ac-ttl1 {
  font-weight: 700;
  font-size: 30px;
  color: #0e3e65;
}

.post-card {
  display: inline-block !important;
  text-align: left;
  border-radius: 12px !important;
  margin: 10px;
  font-size: 0.9rem;
}

.post-top {
  width: 400px !important;
  height: 400px !important;
  margin: 30px;
}

.post-top img {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.card-title {
  text-align: center;
  /* font-weight: 900; */
}

.btn-post {
  padding: 10px 15px;
  background-color: transparent !important;
  border-radius: 2px !important;
  border: 1px solid rgb(33, 113, 189) !important;
  color: rgb(33, 113, 189) !important;
  margin-top: 20px;
}

.btn-post:hover {
  background: rgb(12, 53, 165) !important;
  color: white !important;
}

.card-img-top {
  border-radius: 0 !important;
  height: 200px;
  width: 100%;
}
/* contact footer */
#contact {
  margin-top: 20px;
  /* background-color: rgb(0, 15, 56); */
  /* padding: 45px; */
  /* color: white; */
}

.ct-ttl {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin: 30px;
  color: #0e3e65;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.contact-addr {
  text-align: center;
  /* width: 700px; */
  margin: auto;
}

.contact-addr h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 20px;
  color: #0e3e65;
}

.contact-addr p {
  font-size: 1.2rem;
}

.divider-maps {
  height: 20px;
  background-color: rgb(0, 15, 56);
  margin-top: 50px;
}

.map-bg {
  background-color: rgb(0, 15, 56);
  color: white !important;
  text-align: center;
  padding: 10px 10px;
  width: 80px;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contact-ready {
  height: 150px;
  width: 60%;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  color: rgb(31, 31, 31);
  z-index: 3;
  background-color: white;
}

.cr-left,
.cr-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cr-left {
  left: 20px;
}

.cr-right {
  right: 20px;
}

.contact-ready h1 {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.contact-ready h2 {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.btn-cr {
  padding: 15px 25px !important;
  background-color: rgb(9, 109, 192) !important;
  border: none !important;
  border-radius: 4px !important;
}

#footer {
  padding: 25px;
  background-color: rgb(0, 15, 56);
  z-index: 2;
  position: absolute;
  width: 100%;
}

#footer p {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-lock {
  position: relative;
  width: 100%;
}

#footer-top {
  background: #1768a8;
}

.box-footer {
  background: #0e3e65;
  border-top: 4px solid yellow;
  border-radius: 4px;
  margin: 2px;
  color: white;
  padding: 10px;
}

.box-footer-title {
  display: flex;
  flex-wrap: nowrap;
}

.menu-footer {
  color: white;
}

.menu-footer ul li a {
  text-decoration: none;
  color: white;
}

/* Farhan */
.testi-alumni-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.circle-slider-outline,
.circle-slider-fill {
  width: 20px;
  background: white;
  border: 1px solid rgb(5, 5, 129);
  height: 20px;
  border-radius: 50%;
  margin: 5px;
}

.circle-slider-outline {
  background: white;
}

.circle-slider-fill {
  background: rgb(5, 5, 129);
}

.yellow-line {
  width: 100px;
  height: 2px;
  background: rgb(236, 236, 2);
}
