/*
xs (for phones - screens < 768px wide)
sm (for tablets - screens >= 768px wide)
md (for small laptops - screens >= 992px wide)
lg (for laptops and desktops - screens >= 1200px wide)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown-toggle::after {
  display: inline-block !important;
}

/* Navbar, style changed after scroll */
.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: transparent !important;
}

.navbar a {
  color: whitesmoke;
}

.navbar #nb-ttl {
  color: whitesmoke;
}

a.nav-link:hover {
  color: #eeeb3c;
}

a.dropdown-item {
  color: #222;
}

.navbar.colorChange {
  background-color: white !important;
}

.navbar.colorChange a {
  color: #222;
}

.navbar.colorChange a:hover {
  color: #eeeb3c;
}

.navbar.colorChange #nb-ttl {
  color: #222;
}

/* Navbar End */

.sticky-top {
  position: fixed !important;
  top: 0;
  width: 100%;
}

a#basic-nav-dropdown,
a.nav-link,
.navbar-brand {
  font-weight: 600;
}

a#basic-nav-dropdown:hover,
a#basic-nav-dropdown:focus {
  color: #eeeb3c !important;
}

@media (max-width: 962px) and (min-width: 740px) {
  #navbarfarhan {
    display: flex !important;
  }
}

/* Carousel Styling */
.carousel-item {
  height: 100vh;
  color: white;
}

.black-carousel {
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  position: absolute;
  z-index: 10;
  opacity: 0.4;
}

.carousel-caption {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50, -50);
  z-index: 11;
}

.carousel-caption h2 {
  font-weight: bold;
  font-size: 1.4rem;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 11 !important;
}

/* End Carousel */

/* header */
#header {
  /* background: url("../images/header-1.jpg"); */
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: 0;
  color: rgb(255, 255, 255);
}

.black-cover-header {
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}

/* #header .slide {
  color: #003cff;
  text-align: center;
  margin-bottom: 250px;
} */

.header-fill {
  z-index: 3;
}

.header-fill h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

.header-fill p {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-header {
  background: rgb(33, 113, 189);
  padding: 8px 25px !important;
  border: none;
  border-radius: 2px;
}

@media (max-width: 962px) {
  #header {
    height: 40vh;
    background: white;
  }
  #header .slide {
    margin-bottom: 70vh;
    font-size: 1rem;
  }
}

/* welcome section */
#welcome {
  margin: auto;
  text-align: center;
  /* padding-top: 20px; */
  height: 50vh;
  /* margin-top: 30px; */
  position: relative;
}

#welcome-fill {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#welcome h1 {
  color: #0e3e65;
  font-size: 28px;
  font-weight: 800;
}

.divider-welcome {
  height: 5px;
  background: rgb(226, 226, 29);
  border-radius: 9px;
  width: 300px;
  margin-top: 25px;
  margin-left: 300px;
}
@media (max-width: 962px) {
  #welcome h1 {
    font-size: 20px;
  }
  #welcome p {
    font-size: 15px;
    width: 100%;
  }
  .divider-welcome {
    margin-left: 40px;
    margin-top: 25px;
    width: 200px;
  }
}

/* headmaster greeting */
#hdm-greeting {
  height: 50vh;
  position: relative;
  margin: 25px 0;
}

#hdm-greeting h1 {
  font-size: 2.2rem;
  color: #0e3e65;
  font-weight: 700;
  margin-left: 40px;
  margin-top: -10px;
}
#hdm-greeting h2 {
  width: 120%;
  font-weight: 600;
  color: #0e3e65;
}
#hdm-greeting p {
  margin-left: 40px;
  margin-top: -15px;
}
.hdm-greeting-fill {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hdm-greeting-fill img {
  padding: 5px 5px 15px;
  width: 270px;
  margin-right: 30px;
  border-radius: 50%;
}

.hdm-greeting-desc h2 {
  font-size: 1.6rem;
}
@media (max-width: 962px) {
  #hdm-greeting {
    height: 80vh;
    margin-top: -23vh;
    width: auto;
    margin-left: -80px;
  }
  #hdm-greeting h1 {
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: -5px;
  }
  #hdm-greeting h2 {
    /* width: 100%; */
    font-weight: 600;
  }
  #hdm-greeting p {
    font-size: 15px;
    margin-left: 20px;
    margin-top: -5px;
    width: 100%;
  }
}
/* yt overview */
#overview {
  justify-content: center;
  height: 100vh;
  position: relative;
}

#overview-fill {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

#overview-video {
  display: inline-block;
  width: 30%;
}

#overview-detail {
  display: inline-block;
  width: 50%;
  text-align: left;
  margin-left: 35px !important;
}

.divider-overview {
  height: 3px;
  width: 85px;
  background: rgb(226, 226, 29);
  border-radius: 2px;
}
#overview h1 {
  font-size: 25px;
}

#overview .OV {
  font-size: 20px;
  color: #74a4cb;
}
#overview .WU {
  color: #0e3e65;
  font-weight: 700;
}
#overview p {
  padding: 10px 10px;
}
#overview button {
  margin-top: 9vh;
  border-radius: 15px;
}
#overview img {
  box-shadow: 3px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 962px) {
  #overview {
    justify-content: center;
    margin-top: -13vh;
    margin-left: -3vh;
  }

  #overview h1 {
    font-size: 20px;
  }
  #overview .OV {
    font-size: 15px;
  }
  #overview button {
    margin-top: 0vh;
    font-size: 12px;
    border-radius: 15px;
  }
}
/* /////// */
#facility {
  height: 100vh;
  background: rgb(0, 15, 56);
}

#facility h1 {
  font-size: 2.4rem;
  color: white;
}

.card-holder {
  margin: auto;
}

.card-facility {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  color: black;
  padding: 30px 50px;
  width: 300px;
  margin: 0 10px;
  margin-top: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.card-facility:hover {
  background: rgb(204, 204, 204);
  cursor: pointer;
}

.card-facility h2 {
  font-size: 1.6rem;
}

.cf-icon {
  text-align: center;
}

/* card activities & announcement */
#activities {
  padding: 24px;
  margin-top: 32px;
}
#activities h1 {
  text-align: left;
  font-size: 25px;
  margin-left: 120px;
}
#activities h3 {
  margin-top: -30px;
  font-size: 23px;
  color: #74a4cb;
  margin-left: 23px;
}
#activities .yellow-line {
  margin-left: 3px;
  margin-top: -15px;
  width: 117px;
  height: 3px;
}
#activities h1 {
  color: #0e3e65;
  font-weight: 700;
  font-size: 28px;
  margin-left: 23px;
}
.kategori {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
  margin-left: -12vh;
}
.kategori .an {
  margin-right: 10px;
}
.time-card {
  margin-top: 5.5vh;
  margin-left: -15vh;
}
.time-card p {
  width: 100% !important;
  font-size: 18px;
}
.time-card {
  margin-top: 5.5vh;
  margin-left: -15vh;
}
.time-card p {
  width: 100% !important;
  font-size: 18px;
}

@media (max-width: 962px) {
  #activities h1 {
    text-align: left;
    font-size: 25px;
    margin-left: 0px;
  }
  #activities h3 {
    margin-top: -30px;
    font-size: 20px;
    margin-left: 0px;
  }
}
/* announcement */
#announcement {
  padding: 24px;
  /* margin-top: 3vh; */
}

#announcement h3 {
  margin-top: -30px;
  margin-left: 22px;
  font-size: 25px;
  color: #74a4cb;
}

#announcement h1 {
  font-weight: 700;
  margin-left: 22px;
  font-size: 30px;
  color: #0e3e65;
}

#announcement .yellow-line {
  margin-left: 5px;
  margin-top: -15px;
  width: 150px;
  height: 3px;
}

.post-card {
  display: inline-block !important;
  text-align: left;
  border-radius: 12px !important;
  margin: 10px;
  font-size: 0.9rem;
}

.post-top {
  width: 400px !important;
  height: 400px !important;
  margin-top: 2vh;
}

.post-top img {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.card-title {
  text-align: center;
  /* font-weight: 900; */
}
.btn-post {
  padding: 10px 15px;
  background-color: transparent !important;
  border-radius: 2px !important;
  border: 1px solid rgb(33, 113, 189) !important;
  color: rgb(33, 113, 189) !important;
  margin-top: 20px;
}

.btn-post:hover {
  background: rgb(12, 53, 165) !important;
  color: white !important;
}

.card-img-top {
  border-radius: 0 !important;
  height: 200px;
  width: 100%;
}

/* testimonial */
#testimonials {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
#testimonials .testi {
  margin-top: -30px;
  font-size: 23px;
  color: #74a4cb;
}
#testimonials .yellow-line {
  margin-left: 4px;
  margin-top: -15px;
  width: 70px;
  height: 3px;
}
#testimonials .prof {
  color: #0e3e65;
  font-weight: 700;
  font-size: 28px;
}
/* #tpa-card {
  margin-top: 3vh;
}
#tpa-card .tpa-card-detail {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
  margin: 10px;
  padding: 7px 10px;
}
.testi-alumni-img {
  border-radius: 10px !important;
  margin-left: 15vh;
}

.tpa-card-detail h3 {
  width: 100%;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
  margin: 5px;
}
.tpa-foot-card {
  margin-top: 4px;
  font-size: 1rem;
  align-items: flex-end;

} */

#testimonials .card-testimonials {
  display: flex;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  /* margin-left: 20px;
  margin-top: 20px; */
  margin: 20px;
}
#testimonials .body-testimonials {
  padding: 10px 20px;
}
.testi-alumni-img {
  /* height: 120px !important;
  width: 140px !important; */
  border-radius: 50%;
  margin-left: 13px;
  margin-top: 13px;
}
#testimonials .body-testimonials h3 {
  font-weight: 700;
}
#testimonials .body-testimonials p {
  margin-left: 5px;
  text-align: justify;
}
#testimonials .circle-slider-outline,
.circle-slider-fill {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid rgb(5, 5, 129);
  border-radius: 50%;
  margin: 5px;
  justify-content: center;
  /* margin-left: 20px; */
}

.circle-slider-outline {
  background: white;
}

.circle-slider-fill {
  background: rgb(5, 5, 129);
}

.yellow-line {
  width: 100px;
  height: 2px;
  background: rgb(236, 236, 2);
}

/* FAQ */
#faq {
  margin-left: 40px;
  margin-top: 70px;
}
#faq h3 {
  margin-top: -30px;
  font-size: 23px;
  color: #74a4cb;
}
#faq .yellow-line {
  margin-left: 5px;
  margin-top: -15px;
  width: 360px;
  height: 3px;
}
#faq h1 {
  color: #0e3e65;
  font-weight: 700;
  font-size: 28px;
}
#faq .faq-btn {
  max-width: 80%;
  margin-left: 110px;
  margin-top: 20px;
}
#faq .faq-capt {
  text-align: center;
  margin-left: 240px;
  max-width: 60%;
}
/* contact footer */
#contact {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
#contact h3 {
  margin-top: -30px;
  font-size: 23px;
  color: #74a4cb;
}
#contact .yellow-line {
  margin-left: 5px;
  margin-top: -17px;
  width: 110px;
  height: 3px;
}
#contact h1 {
  color: #0e3e65;
  font-weight: 700;
  font-size: 28px;
}
#contact .ctc-menu {
  margin-top: 20px;
  margin-left: 76px;
  margin-bottom: 40px;
}
#contact .simbol {
  height: 45px;
  color: #0e3e65;
  margin-left: 128px;
  width: 35px;
}
#contact .ctc-menu p {
  text-align: center;
}
.ct-ttl {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin: 30px;
  color: #0e3e65;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.contact-addr {
  text-align: center;
  /* width: 700px; */
  margin: auto;
}

.contact-addr h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 20px;
  color: #0e3e65;
}

.contact-addr p {
  font-size: 1.2rem;
}

.divider-maps {
  height: 20px;
  background-color: rgb(0, 15, 56);
  margin-top: 50px;
}

.map-bg {
  background-color: rgb(0, 15, 56);
  color: white !important;
  text-align: center;
  padding: 10px 10px;
  width: 80px;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contact-ready {
  height: 150px;
  width: 60%;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  color: rgb(31, 31, 31);
  z-index: 3;
  background-color: white;
}

.cr-left,
.cr-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cr-left {
  left: 20px;
}

.cr-right {
  right: 20px;
}

.contact-ready h1 {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.contact-ready h2 {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.btn-cr {
  padding: 15px 25px !important;
  background-color: rgb(9, 109, 192) !important;
  border: none !important;
  border-radius: 4px !important;
}

/* footer */
#footer {
  padding: 15px 25px;
  background-color: rgb(0, 15, 56);
  z-index: 2;
  /* position: absolute; */
  width: 100%;
  height: auto;
}

#footer p {
  color: white;
  text-align: center;
  /* position: absolute; */
  /* bottom: 13px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.footer-lock {
  position: relative;
  width: 100%;
}

#footer-top {
  background: #1768a8;
  height: 350px;
}

.box-footer {
  background: #0e3e65;
  border-top: 4px solid yellow;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  padding: 20px 30px;
  width: 400px;
  height: 333px;
}
.box-footer p {
  text-align: center;
  margin: 10px;
  padding-left: 2px;
}
.box-footer tr td {
  padding: 2px;
}
.box-footer .sm-icon {
  text-align: center;
  margin-bottom: 10px;
}
.box-footer .sm-icon a {
  margin-left: 9px;
  color: aliceblue;
}
.box-footer .sm-icon a:hover {
  color: #1768a8;
}
.box-footer-title {
  display: flex;
  flex-wrap: nowrap;
}
.box-footer img {
  margin-top: -10px;
  margin-left: 20px;
}
.box-footer-title h2 {
  margin: 20px;
  margin-left: 30px;
  font-weight: 650;
  font-size: 20px;
}
.menu-footer {
  color: white;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.menu-footer h2 {
  margin-bottom: 30px;
  font-weight: 650;
  font-size: 18px;
}
.menu-footer ul li {
  margin-top: 7px;
}
.menu-footer ul li a {
  text-decoration: none;
  color: white;
}
.menu-footer ul li a:hover {
  color: #eeeb3c;
}

/* Farhan */
.testi-alumni-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.circle-slider-outline,
.circle-slider-fill {
  width: 20px;
  background: white;
  border: 1px solid rgb(5, 5, 129);
  height: 20px;
  border-radius: 50%;
  margin: 5px;
}

.circle-slider-outline {
  background: white;
}

.circle-slider-fill {
  background: rgb(5, 5, 129);
}

/* Card post index */
.post-card-index {
  /* width: 450px; */
  height: 250px;
  width: 380px;
  display: inline-block;
  margin: 10px;
  /* height: 500px; */
  position: relative;
  border-radius: 10px;
}

.bg-post-card {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 5%,
    rgb(54, 54, 54) 100%,
    rgb(255, 255, 255) 100%
  );
  position: absolute;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  z-index: 5;
  border-radius: 6px;
}

.post-card-body {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 6;
  padding: 10px;
  text-align: left;
}

.post-card-body-type {
  color: rgb(240, 201, 28);
  font-weight: 600;
  font-size: 1.1rem;
}

.post-card-body-h1 {
  font-size: 1.3rem;
  color: white;
}

.post-card-body-date {
  color: rgb(177, 177, 177);
}

.post-card-img {
  width: 100% !important;
  height: 100% !important;
}

/* Alice Carousel */
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.alice-carousel__dots-item:not(.__custom).__active {
  background: rgb(55, 85, 122) !important;
}

.alice-carousel__dots-item:not(.__custom):hover {
  background: rgb(55, 85, 122) !important;
}

.alice-carousel__dots-item {
  width: 10px !important;
  height: 10px !important;
  background: white;
  border: 1px solid rgb(55, 85, 122);
  border-radius: 50%;
  margin: 5px;
  justify-content: center;
}

/* Article */
.divider-overview1 {
  height: 20px;
}

/* card-index-section */
.card-index {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  /* width: 25%; */
  text-align: center;
  margin-top: 35px;
  padding: 15px;
}

.card-index:hover {
  background: rgb(4, 53, 132);
  cursor: pointer;
  color: white;
}

#card-index-section {
  padding-left: 40px;
  padding-right: 40px;
  margin: 80px 0px;
}

#card-index-section .card-index-title {
  margin-top: -30px;
  font-size: 23px;
  color: #74a4cb;
}
#card-index-section .card-index-text {
  color: #0e3e65;
  font-weight: 700;
  font-size: 28px;
}

#card-index-section .yellow-line {
  margin-left: 4px;
  margin-top: -15px;
  width: 70px;
  height: 3px;
}
