* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cb-posts {
  width: 100%;
  background: rgb(235, 235, 235);
  text-align: center;
}

.cb-posts h1 {
  font-size: 1.4rem;
}

.cb-posts p {
  text-align: left;
  padding: 10px;
}

.card-program {
  padding: 0 !important;
  margin: 10px;
}

.btn-loadmore {
  background: none !important;
  color: rgb(6, 32, 78) !important;
  padding: 8px 20px !important;
  margin: 20px !important;
  border: 1px solid rgb(6, 32, 78) !important;
  border-radius: 4px !important;
}
