* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-intro {
  margin-top: 10vh;
  border-radius: 14px;
  border: 2px solid #d9d9d9;
  background: rgb(235, 235, 235);
  text-align: center;
  box-shadow: 2px gray;
}

.text-center h1 {
  font-size: 1.4rem;
  font-weight: 750;
  margin-top: 10px;
  color: #0e0f65;
}

.text-center p {
  margin-left: 18vh;
  width: 80%;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  padding: 10px;
}
@media (max-width: 962px) {
  #post-intro p {
    margin-left: 0px !important;
    width: 100%;
    font-size: 18px;
  }
  
}
/* card */
.card-program {
  padding: 0 !important;
  margin: 10px;
}

.btn-loadmore {
  background: none !important;
  color: rgb(6, 32, 78) !important;
  padding: 8px 20px !important;
  margin: 20px !important;
  border: 1px solid rgb(6, 32, 78) !important;
  border-radius: 4px !important;
}

/* Breadcrumb */
.breadcrumb {
  background: #1768a8;
  border-radius: 8px;
  color: whitesmoke;
  margin: 10px;
  padding: 2px;
}
.breadcrumb p {
  margin-left: 2vh;
  margin-bottom: 3px;
}
.post-ctg-list {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 20px;
  justify-content: space-between;
  width: 100%;
}
.post-ctg-list button {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 20px;
}
@media (max-width: 962px) {
  .post-ctg-list button {
    width: 100% !important;
    margin-right: 10px !important;
  }
  
}

#navbar-bgz {
  height: 13vh;
}

#search-bar {
  margin-top: 2vh;
}

.posts-list-card {
  margin: 5vh;
}
.plc-title h1 {
  font-weight: 600;
  font-size: 20px;
  margin: 5px;
  margin-left: 5px;
  color: #0e3e65;
}
.plc-category button {
  margin: 3px;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 8px;
}
.plc-body h3 {
  font-style: italic;
  margin-bottom: 4px;
  font-weight: 550;
  font-size: 1.05rem;
  margin-left: 5px;
}
.plc-body p {
  font-size: 1rem;
  margin-left: 5px;
}
.plc-date {
  margin-top: 2vh;
  font-size: 0.9rem;
}
/* .posts-list-card img {
  margin-top: 10px;
} */
.paginate {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.paginate ul li {
  list-style-type: none;
  display: inline-block;
}

.yellow-line {
  background: yellow;
  height: 4px;
  width: 100px;
}

.cs-outline,
.cs-fill {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.cs-outline {
  background: none;
  border: 1px solid #1768a8;
}

.cs-fill {
  background: #1768a8;
  border: none;
}
