* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cb-posts {
  width: 100%;
  background: rgb(235, 235, 235);
  text-align: center;
}

.cb-posts h1 {
  font-size: 1.4rem;
}

.cb-posts p {
  text-align: left;
  padding: 10px;
}

.card-program {
  padding: 0 !important;
  margin: 10px;
}

.btn-loadmore {
  background: none !important;
  color: rgb(6, 32, 78) !important;
  padding: 8px 20px !important;
  margin: 20px !important;
  border: 1px solid rgb(6, 32, 78) !important;
  border-radius: 4px !important;
}

/* Breadcrumb */
#breadcrumb {
  background: #1768a8;
  border-radius: 8px;
  color: whitesmoke;
}

#navbar-bgz {
  height: 13vh;
}

.paginate {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.paginate ul li {
  list-style-type: none;
  display: inline-block;
}

.yellow-line {
  background: yellow;
  height: 4px;
  width: 100px;
}

.cs-outline,
.cs-fill {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.cs-outline {
  background: none;
  border: 1px solid #1768a8;
}

.cs-fill {
  background: #1768a8;
  border: none;
}
