* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
#programs-intro {
  margin-top: 10vh;
  border-radius: 14px;
  text-align: center;
}

.text-center h1 {
  /* text-align: center; */
  font-size: 1.4rem;
  font-weight: 750;
  margin-top: 10px;
  color: #0e0f65;
}

.text-center p {
  margin-left: 18vh;
  width: 80%;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  padding: 10px;
}
/* Breadcrumb */
.breadcrumb {
  background: #1768a8;
  border-radius: 8px;
  color: whitesmoke;
  /* padding-right: 20px; */
  /* margin: 15vh; */
  padding: 2px;
}
.breadcrumb p {
  margin-left: 8vh;
  margin-bottom: 3px;
}
@media (max-width:962px) {
  .breadcrumb p {
    margin-left: 2vh;
  }
  
}
.cb-program {
  width: 100%;
  background: rgb(235, 235, 235);
  text-align: center;
  font-size: 1.6rem;
}

.btn-program {
  background: none !important;
  color: rgb(6, 32, 78) !important;
  padding: 10px 20px !important;
  margin: 20px !important;
  border: 1px solid rgb(6, 32, 78) !important;
}

/* Card Programs */
.card-programs {
  border-top: 6px solid #eeeb3c;
  border-radius: 6px;
  box-shadow: 2px 2px 1px 1px rgb(204, 204, 204);
  position: relative;
  padding-bottom: 5px;
  margin: 5px;
  width: 100%;
}

.card-programs h1 {
  color: #0e3e65;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 3px 0;
  margin: 5px 0;
}

.btn-details-program {
  border-radius: 20px;
  border: 1px solid #1768a8;
  color: #1768a8;
  padding: 5px;
  margin: 10px 5px;
  display: block;
  text-align: center;
  font-weight: 600;
}

.btn-details-program:hover {
  background: #1768a8;
  color: white;
}

.card-programs-body {
  margin: 5px;
  font-size: 0.95rem;
}
@media (max-width:962px) {
  .card-programs h1 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .card-programs p {
    font-size: 15px;
  }
  .btn-details-program:hover {
    background: #1768a8 !important;
    color: white;
  }
  
}
#title-programs {
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgb(214, 214, 214);
  margin: 20px;
}
@media (max-width:962px) {
  #title-programs {
    margin: 10px;
  }
  #title-programs h1 {
    font-size: 20px;
  }
  #title-programs p {
    text-align: center;
    font-size: 15px;
    margin-left: 10px !important;
    width: 100% !important;
  }
}
#programs-intro {
  margin-top: -5px;
}
#programs-intro h1 {
  color: rgb(6, 32, 78);
  font-weight: 600;
  font-size: 1.6rem;
}
@media (max-width:962px) {
  #programs-intro h1 {
    font-size: 20px;
  }
  #programs-intro p {
    font-size: 16px;
  }

}
